
.navbar{
    border: 1px solid black;
    padding: 10px ;

}
.navlist{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
    float:right;
}
.navlist li{
    border: 1px solid black;
    margin: 5px;
}

.content{

margin-top:10px ;
padding: 5px;
display: flex;
background-image: url('./bg.jpg');
height: 500px;
}
.welcome-text{
    padding-left: 50px;
    width: 50%;
    padding-top: 50px;
}
.welcome-image{
    text-align: center;
    width: 50%;
}

.welcome-h3{
    color: orange;
    font-size: 30px;
    font-family:Tahoma, sans-serif;
}
.name{
    font-family: Tahoma, sans-serif;
    font-size: 50px;
    
}




.button{
    color: white;
    background-color: orangered;
    border: unset;
    border-radius: 30px; 
    padding: 10px;
}
.green-text{
    color: green;

}
.purple-text{
    color: purple;
}
.text-blue-underline{
    text-decoration: underline;
    color: blue;
}

.logo{
    height: 100px;
    
}
.FLEX{
    min-height: 250px;
    border: 1px solid green;
    display: flex;
    justify-content: space-betweens;
    
    
}
.content2{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.svg{
    height: 50px;
}


    
.service{
    display: flex;
    margin-top:10px ;
padding: 5px;
}

.servicet{
    padding-left: 200px;
    width: 50%;
    padding-top: 50px;  
    text-size-adjust: 10px;
}
.h3{
    color: orange;
}



.sentence{
text-align: center;

}
.cl{
    color: orange;
}


.sc{
text-align: center;
padding-top: 100px;
border: solid green;
}

.bds{
border:1px solid red;
display: flex;
    padding: 5px;
    justify-content: space-around;
    
}







.bd{
    border: 1px solid yellow;
    width: 30%;
    min-height: 220px;
    text-align: left;
    display: flex;
    background-color: #fafafa;
    
    
}
.h3{
    text-align: center;
    
}
.bdp{
    border: 1px solid green;
    
}
.bdps{
    border: 1px solid blue;
    
}
.jpg{
    text-align: center;
    border: 1px solid rgb(255, 21, 0);
}
.bd{
    border: 1px solid rgb(0, 255, 8);
    

}



